.App {
  padding: 16px;
  font-size: large;
}

.c-black {
  color: black;
}

.c-red {
  color: #f80000;
}

.c-orange {
  color: #ffb123;
}

.c-yellow {
  color: yellow;
}

.c-green {
  color: #00c500;
}

.c-aqua {
  color: aqua;
}

.c-blue {
  color: #4040ff;
}

.c-purple {
  color: #c910c9;
}

.c-white {
  color: white;
}
