.App {
  padding: 16px;
}

.c-black {
  color: black;
}

.c-red {
  color: red;
}

.c-orange {
  color: orange;
}

.c-yellow {
  color: yellow;
}

.c-green {
  color: green;
}

.c-aqua {
  color: aqua;
}

.c-blue {
  color: blue;
}

.c-purple {
  color: purple;
}
